$base: #17252f;
$baseLight: #1d2c36;
$primary: #15616d;
$secondary: #ffecd1;
$orange: #ff7d00;
$red: #78290f;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100vh;
    background-color: $base;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1em;
    gap: 1em;
    background-color: $primary;

    .header {
        height: 100%;
        padding: 20px;
        border: 1px solid $base;
        box-shadow: 2px 2px 2px $base;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $orange;

        .logo {
            h1 {
                font-size: 3em;
            }
        }

        .nav {
            background: rgba(181, 198, 204, 0.367);
            padding: 1em;
            border-radius: 10px;
            display: flex;
            align-items: center;
            min-width: 10%;
            justify-content: center;
            gap: 1em;
            img {
                border-radius: 50%;
            }
        }

        h1 {
            margin: 0;
            font-size: 24px;
        }
    }

    .blog {
        max-height: 80%;
        display: flex;
        flex: 1;
        gap: 1em;
        .blogposts {
            overflow: scroll;
            // display: flex;
            // flex-direction: column;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            gap: 1em;
            flex: 3;
        }

        .post {
            padding: 20px;
            border: 1px solid $base;
            box-shadow: 2px 2px 2px $base;
            border-radius: 5px;
            background-color: $orange;

            .post-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                // height:100%;

                .post-title {
                }

                .post-author {
                    display: flex;
                    gap: 1em;
                    align-items: center;
                    img {
                        border-radius: 50%;
                    }
                }
            }

            h2 {
                margin: 0;
                font-size: 24px;
            }

            p {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
            }
        }

        .blogpostform {
            flex: 1;
            padding: 20px;
            border: 1px solid $base;
            box-shadow: 2px 2px 2px $base;
            border-radius: 5px;
            background-color: $red;

            form {
                height: 100%;
                display: flex;
                gap: 1em;
                flex-direction: column;
            }

            input[type="text"],
            textarea {
                background-color: $primary;
                // height: 100%;
                width: 100%;
                font-size: 16px;
                padding: 5px;
                border: 1px solid $base;
                box-shadow: 2px 2px 2px $base;
                border-radius: 5px;
                flex: 1;
            }

            button[type="submit"] {
                margin-top: 10px;
                padding: 5px 10px;
                font-size: 16px;
                background-color: $base;
                color: $secondary;
                box-shadow: 2px 2px 2px $base;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition:all .3s;

                &:hover {
                    background-color: $baseLight;
                    font-size:1.5em;
                }
            }
            textarea.content {
                flex: 5;
            }
        }
    }
}
